{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}

<div>
    <p>Hello, {{ user.name }}</p>
    <p>Hello, {{ user.email }}</p>
    <a href="{{ path('app_profile_edit') }}">Edit</a><br>
    <a href="{{ path('app_dashboard') }}">Dashboard</a><br>

</div>

{% endblock %}

