{% extends 'base.html.twig' %}

{% block title %} Editing profile {% endblock %}

{% block body %}
    <div>
        <h2>Editing profile</h2>
        <form method="post">
            <input name="Name" value="{{ app.user.name }}"><br>


            <button type="submit">Save changes</button>
        </form>

    </div>
{% endblock %}
