{% extends "base.html.twig" %}

{% block body %}
    <div>
        HOME
    </div>
    <div>
        <a class="btn btn-primary" href="{{ path('app_profile') }}"> Profile </a><br>
        <a href="{{ path('app_login') }}"> Login </a><br>
        <a href="{{ path('app_logout') }}"> Logout </a><br>
    </div>
{% endblock %}