{% extends "base.html.twig" %}

{% block body %}
    <div>
        HOME {# app.user.email #}
    </div>
    <div>
        <a href="{{ path('app_profile') }}"> Profile </a><br>
        <a href="{{ path('app_login') }}"> Login </a><br>
        <a href="/logout"> Logout </a><br>
    </div>
{% endblock %}