{% extends "base.html.twig" %}

{% block title %}Edit profile{% endblock %}

{% block body %}
    <div class="shadow-lg mb-4">
        {% include 'navbar.html.twig' %}
    </div>
    <div>
       {{ form(form) }}
    </div>

{% endblock %}